In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import mode
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.ensemble import VotingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [4]:
df= pd.read_csv(r"C:\Users\91758\Downloads\Loan Prediction\train_ctrUa4K.csv")

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [7]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [8]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
df['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [10]:
m= df['Credit_History'].mode()
m

0    1.0
dtype: float64

In [11]:
df['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [12]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Married']=df['Married'].fillna(df['Married'].mode()[0])
df['Dependents']=df['Dependents'].fillna(df['Dependents'].mode()[0])
df['Self_Employed']=df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].mean())
df['Loan_Amount_Term']=df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])
df['Credit_History']=df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [13]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [14]:
l=['Gender','Married','Education','Self_Employed','Property_Area']
le= LabelEncoder()
for i in l:
    df[i]= le.fit_transform(df[i])

In [15]:
df['Loan_Status']=df['Loan_Status'].replace({'N': 0, 'Y': 1})

In [16]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1

In [17]:
df['Dependents'].value_counts()

0     360
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [18]:
df['Dependents']= le.fit_transform(df['Dependents'])

In [19]:
df['Dependents'].value_counts()

0    360
1    102
2    101
3     51
Name: Dependents, dtype: int64

In [20]:
x= df.drop(['Loan_ID','Loan_Status'], axis=1)
y= df['Loan_Status']

In [21]:
y.value_counts()

1    422
0    192
Name: Loan_Status, dtype: int64

In [22]:
x_train, x_valid, y_train, y_valid= train_test_split(x,y, test_size=0.2, random_state=12)

In [23]:
#Logistic Regression
print("Logistic Regression")
lr= LogisticRegression()
lr.fit(x_train,y_train)
pred1= lr.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred1))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred1))

Logistic Regression
Accuracy 0.8211382113821138
-----------------------------------
Confusion Matrix [[21 17]
 [ 5 80]]

C:\Users\91758\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [24]:
#Decision Tree
print("Decision Tree")
dt= DecisionTreeClassifier()
dt.fit(x_train,y_train)
pred2 = dt.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred2))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred2))

Decision Tree
Accuracy 0.6504065040650406
-----------------------------------
Confusion Matrix [[22 16]
 [27 58]]

In [25]:
#Decision Tree
print("Decision Tree")
dt= DecisionTreeClassifier()
dt.fit(x_train,y_train)
pred2 = dt.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred2))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred2))

Decision Tree
Accuracy 0.6666666666666666
-----------------------------------
Confusion Matrix [[22 16]
 [25 60]]

In [26]:
#Random Forest
print("Random Forest")
rf= RandomForestClassifier()
rf.fit(x_train,y_train)
pred3 = rf.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred3))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred3))

Random Forest
Accuracy 0.7642276422764228
-----------------------------------
Confusion Matrix [[24 14]
 [15 70]]

C:\Users\91758\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [27]:
#Random Forest
print("Random Forest")
rf1= RandomForestClassifier(n_estimators=10, n_jobs=-1, random_state=23, max_features='sqrt' )
rf1.fit(x_train,y_train)
pred4 = rf1.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred4))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred4))

Random Forest
Accuracy 0.7886178861788617
-----------------------------------
Confusion Matrix [[24 14]
 [12 73]]

In [28]:
#Gradient Boosting Classifier
print("Gradient Boosting Classifier")
gb= GradientBoostingClassifier()
gb.fit(x_train,y_train)
pred5 = gb.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred5))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred5))

Gradient Boosting Classifier
Accuracy 0.7642276422764228
-----------------------------------
Confusion Matrix [[21 17]
 [12 73]]

In [29]:
#AdaBoosting Classifier
print("AdaBoosting Classifier")
ad= AdaBoostClassifier()
ad.fit(x_train,y_train)
pred6 = ad.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred6))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred6))

AdaBoosting Classifier
Accuracy 0.7804878048780488
-----------------------------------
Confusion Matrix [[20 18]
 [ 9 76]]

In [30]:
#XGBoosting Classifier
print("XGBoosting Classifier")
xg= XGBClassifier()
xg.fit(x_train,y_train)
pred7 = xg.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred7))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred7))

XGBoosting Classifier
Accuracy 0.7642276422764228
-----------------------------------
Confusion Matrix [[25 13]
 [16 69]]

In [48]:
eclf = VotingClassifier(estimators=[('forest', rf), ('xgb', xg), ('adaboost', ad)], voting='hard')

In [49]:
eclf.fit(x_train,y_train)

VotingClassifier(estimators=[('forest', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            mi...m='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None))],
         flatten_transform=None, n_jobs=None, voting='hard', weights=None)

In [51]:
pred8 = eclf.predict(x_valid)

print("Accuracy", accuracy_score(y_valid,pred8))
print('-----------------------------------')
print("Confusion Matrix", confusion_matrix(y_valid,pred8))

Accuracy 0.7967479674796748
-----------------------------------
Confusion Matrix [[24 14]
 [11 74]]

In [31]:
df_test=pd.read_csv(r"C:\Users\91758\Downloads\Loan Prediction\test_lAUu6dG.csv")

In [32]:
df_test.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [33]:
df_test['Gender']=df_test['Gender'].fillna(df_test['Gender'].mode()[0])
df_test['Married']=df_test['Married'].fillna(df_test['Married'].mode()[0])
df_test['Dependents']=df_test['Dependents'].fillna(df_test['Dependents'].mode()[0])
df_test['Self_Employed']=df_test['Self_Employed'].fillna(df_test['Self_Employed'].mode()[0])
df_test['LoanAmount']=df_test['LoanAmount'].fillna(df_test['LoanAmount'].mean())
df_test['Loan_Amount_Term']=df_test['Loan_Amount_Term'].fillna(df_test['Loan_Amount_Term'].mode()[0])
df_test['Credit_History']=df_test['Credit_History'].fillna(df_test['Credit_History'].mode()[0])

In [34]:
df_test.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [53]:
df_test2= pd.DataFrame()

In [36]:
l1=['Gender','Married','Education','Self_Employed','Property_Area','Dependents']
le= LabelEncoder()
for i in l1:
    df_test2[i]= le.fit_transform(df_test[i])

In [54]:
df_test2['Gender']= le.fit_transform(df_test['Gender'])
df_test2['Married']= le.fit_transform(df_test['Married'])
df_test2['Dependents']= le.fit_transform(df_test['Dependents'])
df_test2['Education']= le.fit_transform(df_test['Education'])
df_test2['Self_Employed']= le.fit_transform(df_test['Self_Employed'])
df_test2['ApplicantIncome']= df_test['ApplicantIncome']
df_test2['CoapplicantIncome']= df_test['CoapplicantIncome']
df_test2['LoanAmount']= df_test['LoanAmount']
df_test2['Loan_Amount_Term']= df_test['Loan_Amount_Term']
df_test2['Credit_History']= df_test['Credit_History']
df_test2['Property_Area']= le.fit_transform(df_test['Property_Area'])

In [55]:
df_test2.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,1,1,2,0,0,2340,2546,100.0,360.0,1.0,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2

In [56]:
predict= eclf.predict(df_test2)

In [57]:
p= pd.Series(predict)

In [58]:
p.value_counts()

1    281
0     86
dtype: int64

In [59]:
p.replace({0:'N', 1:'Y'}, inplace= True)

In [60]:
a= pd.concat([df_test['Loan_ID'], p], axis=1)
a.columns=['Loan_ID', 'Loan_Status']

In [61]:
a.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           N

In [62]:
a['Loan_Status'].value_counts()

Y    281
N     86
Name: Loan_Status, dtype: int64

In [63]:
a.to_csv("C:/Users/91758/Downloads/Loan Prediction/solution.csv", index= False)